body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

h1 {
  color: #333;
}

a {
  text-decoration: none;
  color: white;
  background: #007bff;
  padding: 10px;
  border-radius: 5px;
}
.post {
  background: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}